*{
margin: 0;

}

img{

    width: 300px;
    padding: 5px 30px;
    
}

h1,h3{

font-family: Arial, sans-serif;
font-size: 15pt;
/*text-shadow: 1px 1px 1px rgba(0,0,0,6);*/
padding: 5px 30px;
text-align: center;
}

h2{

    color: green;
}

body{
background-color:rgb(255, 400, 200)

}
p, ul{
    font-family: Arial, sans-serif;
    font-size: 12pt;
    padding: 5px 5px 10px;

}

.habilidades.container{

    font-size: 20pt;

}

.description{

    font-size: 12pt;
    padding: 5px 30px;

}